
  *{  
font-family: 'Poppins', sans-serif !important;
}

html{
  scroll-behavior: smooth;
}

  body{
    overflow-x: hidden !important;
  }

    .hidden {
      display: none;
    }



    


.btn-sign button {
  color: white;
  background-color: #0e0e0e;
    text-align: center; /* Pusatkan teks */
    position: relative; /* Menentukan posisi elemen */
}



.btn-viewmore-satu{
  background-color: #0e0e0e !important; /* Warna latar belakang biru */
    border: 2px solid transparent !important; /* Border transparan untuk memberikan ruang bagi border-image */
    border-image-slice: 1; /* Menentukan potongan gambar gradient */
    border-radius: 5px !important; /* Menambahkan border-radius */
    text-align: center !important; /* Pusatkan teks */
    position: relative; /* Menentukan posisi elemen */
}
.btn-viewmore-satu::before{
   content: ""; /* Konten tambahan untuk efek latar belakang gradient */
    position: absolute; /* Menentukan posisi elemen tambahan */
    top: -3px; /* Atur jarak atas sesuai ketebalan border */
    right: -3px; /* Atur jarak kanan sesuai ketebalan border */
    bottom: -3px; /* Atur jarak bawah sesuai ketebalan border */
    left: -3px; /* Atur jarak kiri sesuai ketebalan border */
    background-image: linear-gradient(135deg, #5c6cd7, #f5b4fa); /* Efek linear gradient pada latar belakang tambahan */
    border-radius: 5px; /* Menambahkan border-radius yang sama seperti tombol */
    z-index: -1; /* Menempatkan elemen tambahan di belakang tombol */
}

.main-kecil{
transition: 0.3s ease-in-out;
}

.main-besar{
transition: 0.3s ease-in-out;
}

.hilang{
  transition: 0.3s ease-in-out;
  height: 0;
  overflow: hidden;
}


.kotak-kata:nth-child(1){
background-color: #f0e98ea2;
}
.kotak-kata:nth-child(2){
  background-color: #b5e79d96;
}

.kotak-menu{
  background-color: #E2EBDE;
}



.second-button {
    z-index: 9999; /* Z-index tinggi untuk memastikan tombol burger tampil di atas offcanvas */
}

.offcanvas-backdrop.fade.show {
  pointer-events:none;    
  opacity: 1 ;
}

.offcanvas-backdrop.fade{
background-color: transparent;
  opacity: 0;
}

nav{
  transition: 0.3s ease-in-out;
  width: 100%;
}

nav.scrolled{
  box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}
nav.collored{
  background-color: #f8f9fa;
}


/* Icon 1 */

.animated-icon2{
width: 30px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

.animated-icon2 span {
display: block;
position: absolute;
height: 3px;
border-radius: 9px;
opacity: 1;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}


.animated-icon2 span {
background: #0e0e0e;
}


.animated-icon2 span:nth-child(1) {
top: 0px;
width: 100%;

}

.nav-link{
  width: 100%;
}

.nav-item i, .nav-item a{
  color: #d4d2de;
  transition: 0.3s ease-in-out;
  border-radius: 100%;

}

.nav-item:hover i {
  background-color: #E2EBDE;
  border-radius: 100%;
  color:  black;
  padding: 3px;
}

.animated-icon2 span:nth-child(2) {
top: 8px;
width: 70%;
transform: translateX(8px);
}

/* Gaya awal tombol kembali ke atas */
#scrollToTopBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 135px;
  z-index: 99;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}


.menu-dropdown{
  transition: 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.dropdown:hover .menu-dropdown{
  max-height: 400px;
}

 .dropdown:hover .dropdown-h6{
  color: #0e0e0e;
 }

.animated-icon2 span:nth-child(3) {
top: 16px;
width: 40%;
transform: translateX(8px);
}


.animated-icon2.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 8px;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: translateX(45px);
-moz-transform: translateX(45px);
-o-transform: translateX(45px);
transform: translateX(45px);
opacity: 0;
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 8px;
width: 100%;
}


.second-button{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 991px) {
  .nav-animation li a{
    color: rgba(255, 255, 255, 0.644) !important;
  }

  .authentication-nav{
    display: none !important;
  }

  .nav-animation li a:hover{
    color: #0e0e0e !important;
  }
  .nav-animation li a{
    color: #d4d2de !important;
  }
  
  .offcanvas-start{
  opacity: 0;
  transition: opacity 0.3s !important;
  }


.offcanvas-body{
  background-color: #f8f9fa;
  }


.offcanvas-start.show{
  opacity: 1;
}
}


@media screen and (min-width: 991px) {
   .offcanvas {
            display: none !important;
        }

        
  .icon-nav{
    margin-right: 0.75rem;
  }


.btn-satu {
    background: linear-gradient(135deg, #5c6cd7, #f5b4fa);
    box-shadow: 0 0 10px #f5b4fa9f;
    border: none;
}

}

