
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script type='text/javascript'
            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=ArNisPgwcsQaOmrhXYU4WDFykrY0btbKoTssZYNJNW0cI1IaXuKhiuOywAP8jPf_'
            async defer></script>
    <script type="text/javascript">
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                document.getElementById("location").value = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            var locationRequest = new XMLHttpRequest();
            locationRequest.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    var addressParts = response.resourceSets[0].resources[0].address.formattedAddress.split(',');
                    addressParts.shift();
                    addressParts.pop();
                    var addressWithoutStreetAndCountry = addressParts.join(',');
                    document.getElementById("location").value = addressWithoutStreetAndCountry;
                }
            };
            locationRequest.open("GET", "https://dev.virtualearth.net/REST/v1/Locations/" + latitude + "," + longitude + "?o=json&key=ArNisPgwcsQaOmrhXYU4WDFykrY0btbKoTssZYNJNW0cI1IaXuKhiuOywAP8jPf_", true);
            locationRequest.send();
        }
    </script>
</head>
<body>
     <button onclick="getLocation()">Show Location</button><br />
    <label for="location">Location:</label>
    <input type="text" id="location" />
</body>
</html>