{% extends 'base.html' %}

{% load static %}

{% block tittle %}

{{tittle}}

{%endblock tittle %}

{% block newsnippet %}

{% include 'accounts/snippets/css.html' %}
{% include 'accounts/snippets/jstop.html' %}

{% endblock newsnippet %}


{% block conten %}
{% include 'snippets/navluas.html' %}


<div class="container-xxl " style="margin-top: -10px;">
  <div class="row gap-3 p-3">
    <div class="col-lg-2  p-3 rounded-3 shadow-sm bg-white">
        <div class="d-flex  justify-content-between align-items-center ">
          <div class="d-flex  flex-column align-items-lg-center">
          <div class="rounded-circle bg-light w-25" >
            <img src="{% static 'img/jaket.svg' %}" alt="" class="img-fluid w-100">
          </div>
          <span class="nav-nama text-black fw-bold">{{ user }}</span>
        </div>
        </div>
        <hr>
        <ul class="nav flex-column" >
          <h5 class="nav-title">Kotak Masuk</h5>
          <li class="nav-item">
            <a class="nav-link" href="/home/">chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/">ulasan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/">pesanan di komplain</a>
          </li>
        </ul>
        <hr>
        <ul class="nav flex-column">
          <h5 class="nav-title">Transaction</h5>
          <li class="nav-item">
            <a class="nav-link" href="/home/">waiting payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/">history transaction</a>
          </li>
        </ul>
        <hr>
        <ul class="nav flex-column">
          <h5 class="nav-title">Profil saya</h5>
          <li class="nav-item">
            <a class="nav-link" href="/home/">item wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/">toko favorite</a>
          </li>
        </ul>
        <hr>
      </div>

      <style>
        .nav-profil{
          color: #006667 !important;
        }

        .nav-hiasan{
          position: absolute;
        }

      </style>
    <div class="col  w-100 shadow-sm bg-white rounded-3 p-3">
        <ul class=" list-unstyled gap-5 fs-5 d-none d-lg-flex pt-3 px-3">
            <div class="nav-hiasan"></div>
          <li class="">
            <a href="" class="text-decoration-none text-muted nav-profil">biodata diri</a>
          </li>
          <li class="">
            <a href="{% url 'address_list' %}" class="text-decoration-none text-muted">daftar alamat</a>
          </li>
          <li class="">
            <a href="" class="text-decoration-none text-muted">keamanan</a>
          </li>
        </ul>
<div class="">
        <form action="" method="post" class="mt-5">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="div">
      </div>
    </div>
    </div>
  </div>
    
{% endblock conten %}
    
