{% extends 'base.html' %}

{% load static %}

<!-- ... di dalam form Anda ... -->

{% block title %}

{{ title }}

{% endblock title %}

{% block newsnippet %}

{% endblock newsnippet %}

{% block conten %}
  {% include 'snippets/navluas.html' %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form method="post">
          {% csrf_token %}

          <!-- Add Bootstrap form styling -->
             <div class="form-group">
                    {{ form.PhoneNumber.label_tag }}
                    {{ form.PhoneNumber }}
                </div>
          <div class="form-group">
            {{ form.Province.label_tag }}
            {{ form.Province }}
          </div>
          <div class="form-group">
            {{ form.city.label_tag }}
            {{ form.city }}
          </div>
          <div class="form-group">
            {{ form.district.label_tag }}
            {{ form.district }}
          </div>
          <div class="form-group">
            {{ form.post_code.label_tag }}
            {{ form.post_code }}
          </div>
          <div class="form-group">
            {{ form.street.label_tag }}
            {{ form.street }}
          </div>
                      <div class="form-group">
                    {{ form.detail.label_tag }}
                    {{ form.detail }}
                </div>

          <div class="form-group">
            {{ form.address_for.label_tag }}
            {{ form.address_for }}
          </div>

                <!-- Tambahkan field "Main_address" -->
                <div class="form-group">
                    {{ form.Main_address.label_tag }}
                    {{ form.Main_address }}
                </div>


          <button class="btn btn-primary">Add Address</button>
        </form>

        <button class="btn btn-secondary" onclick="getLocation()">Show Location</button><br />
      
      </div>
    </div>
  </div>

  <script type='text/javascript'
          src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=ArNisPgwcsQaOmrhXYU4WDFykrY0btbKoTssZYNJNW0cI1IaXuKhiuOywAP8jPf_'
          async defer></script>


<script type="text/javascript">
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            document.getElementById("location").value = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var locationRequest = new XMLHttpRequest();
        locationRequest.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                var resource = response.resourceSets[0].resources[0];
                var address = resource.address;
                var formattedAddress = resource.address.formattedAddress;
                var addressParts = formattedAddress.split(',');
                var kecamatan = address.locality || '';
                var kota = address.adminDistrict2 || '';
                var provinsi = address.adminDistrict || '';
                var kodePos = address.postalCode || '';
                var alamat = addressParts.slice(0, 1).join(', '); // Menggabungkan jalan dan nomor rumah

                document.getElementById("kecamatan").value = kecamatan.trim();
                document.getElementById("kota").value = kota.trim();
                document.getElementById("provinsi").value = provinsi.trim();
                document.getElementById("kodePos").value = kodePos.trim();
                document.getElementById("alamat").value = alamat.trim();
            }
        };
        locationRequest.open("GET", "https://dev.virtualearth.net/REST/v1/Locations/" + latitude + "," + longitude + "?o=json&key=ArNisPgwcsQaOmrhXYU4WDFykrY0btbKoTssZYNJNW0cI1IaXuKhiuOywAP8jPf_", true);
        locationRequest.send();
    }
</script>

{% endblock conten %}