{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/fsdf.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">