{% load static %}



<nav class="navbar navbar-expand-lg mb-2  navbar-dark top-0 z-3 position-sticky  " id="navbar">
  <div class="container-fluid d-flex flex-wrap">
    <a class="navbar-brand d-none d-sm-block" style="color: #0e0e0e;" href="index.html">
      YOUTH
    </a>
    <form class="form-inline w-25 flex-fill">
      <input class="form-control mr-sm-2 w-100 input-home rounded-5 border-0 bg-white" style="height: 30px; " type="search" placeholder="Cari"
        aria-label="Search">
    </form>

    <div class="icon-nav" style="font-size: 1.3rem; transform: translateX(9px);">

      <a href="{% url 'cart' %}" class="text-decoration-none text-black">
              <i class='bx bx-cart-alt p-2'></i>

      </a>
      <i class='bx bx-envelope p-2'></i>
      <i class='bx bx-bell p-2'></i>
    </div>

    {% if user.is_authenticated %}

    <ul class="navbar-nav ps-3 gap-3 authentication-nav" style=" border-left: 1px solid gray;">
      <li class="nav-item d-flex align-items-center  gap-2">
        {% if user.is_seller %}
        <div class="rounded-circle bg-light " style="width: 32px;">
          <img src="{% static 'img/image-shop.svg' %}" alt="" class="img-fluid w-100">
        </div>
        {% else %}
        <div class="rounded-circle bg-light " style="width: 32px; filter: grayscale(100%);">
          <img src="{% static 'img/image-shop.svg' %}" alt="" class="img-fluid w-100">
        </div>
        {% endif %}
        <small>toko</small>
      </li>
      <a href="{% url 'profile' username=user.username %}" style="text-decoration: none; color: black;" >
        <li class="nav-item d-flex align-items-center gap-2">
          <div class="rounded-circle bg-light" style="width: 32px;">
            <img src="{% static 'img/jaket.svg' %}" alt="" class="img-fluid w-100">
          </div>
          <small class="nav-nama">{{user}}</small>
        </li>
      </a>
    </ul>
    {% else %}
    <ul class="navbar-nav ps-3 gap- authentication-nav" style=" border-left: 1px solid gray;">
      <li class="nav-item btn-sign">
        <a href="{% url 'sign' %}">
          <button class="py-1 px-3 align-items-center rounded">
            <span>Sign in</span>
          </button>
        </a>
      </li>
      <li class="nav-item btn-sign">
        <a href="{% url 'signup' %}">
          <button class="py-1 px-3 py-1 align-items-center rounded">
            <span>Sign up</span>
          </button>
        </a>
      </li>
    </ul>
    {% endif %}


    <button class="navbar-toggler second-button d-block " style=" transform: translateX(9px); margin-bottom: 18px;" type="button"
      data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarExample"
      aria-controls="offcanvasNavbarExample">
      <div class="animated-icon2 ">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>


    <div class="offcanvas offcanvas-start bg-transparent border-0 h-100 w-100" data-bs-hideresize="true" tabindex="-1"
      id="offcanvasNavbarExample" aria-labelledby="offcanvasNavbarExample">
      <div class="offcanvas-header" style="padding-top: 24px;">
        <hr>
      </div>
      <div class="offcanvas-body  py-2  align-items-center">
        {% if user.is_authenticated %}
        <ul class="navbar-nav ps-3 gap-3 authentication-nav" style=" border-left: 1px solid gray;">
          <li class="nav-item d-flex align-items-center  gap-2">
            {% if user.is_seller %}
            <div class="rounded-circle bg-light " style="width: 32px;">
              <img src="{% static 'img/image-shop.svg' %}" alt="" class="img-fluid w-100">
            </div>
            {% else %}
            <div class="rounded-circle bg-light " style="width: 32px; filter: grayscale(100%);">
              <img src="{% static 'img/image-shop.svg' %}" alt="" class="img-fluid w-100">
            </div>
            {% endif %}
            <small>toko</small>
          </li>
          <li class="nav-item d-flex align-items-center  gap-2">
            <div class="rounded-circle bg-light" style="width: 32px;">
              <img src="{% static 'img/jaket.svg' %}" alt="" class="img-fluid w-100">
            </div>
            <small class="nav-nama">{{user}}</small>
          </li>
        </ul>
        {% else %}
        <ul class="list-unstyled d-flex justify-content-around w-100 gap-3">
          <li class="nav-item btn-sign flex-fill">
            <a href="{% url 'sign' %}">
              <button class="py-1 px-3 w-100 align-items-center rounded">
                <span>Sign in</span>
              </button>
            </a>
          </li>
          <li class="nav-item btn-sign flex-fill">
            <a href="{% url 'signup' %}">
              <button class="py-1 px-3 w-100 align-items-center rounded">
                <span>Sign up</span>
              </button>
            </a>
          </li>
        </ul>
        {% endif %}

          <hr>
          
          
          <ul class="navbar-nav justify-content-center flex-grow-1  nav-animation">
            <li class="nav-item d-flex align-items-center gap-2">
              <i class='bx bx-home-alt-2'></i>
              <a class="nav-link" aria-current="page" href="/home/">Home</a>
            </li>
            <hr>
            <h4>My Activity</h4>
            <li class="nav-item d-flex align-items-center gap-2">
              <i class='bx bx-spreadsheet'></i>
              <a class="nav-link" aria-current="page" href="/home/">transaction history</a>
            </li>
            <li class="nav-item d-flex align-items-center gap-2">
              <i class='bx bx-bookmark-heart'></i>
              <a class="nav-link" href="/about/">favorite list</a>
            </li>
            <li class="nav-item d-flex align-items-center gap-2">
              <i class='bx bx-store-alt'></i>
              <a class="nav-link" href="/about/">toko favorite</a>
            </li>
            <hr>
            <h4>Category</h4>
          
            <div class="nav-item dropdown">
              <button class="nav-item d-flex align-items-center gap-2 bg-transparent border-0 ">
                <i class='bx bx-bowl-hot fs-5'></i>
                <a class="nav-link fs-5 dropdown-h6">Food</a>
              </button>
              <ul class="menu-dropdown">
                <li class="nav-item">
                  <a class="nav-link   " href="/about/">food</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link   " href="/about/">drink</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link   " href="/about/">fruit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link   " href="/about/">ice cream</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link   " href="/about/">raw food</a>
                </li>
              </ul>
            </div>
          
            <div class="nav-item dropdown">
              <button class="nav-item d-flex align-items-center gap-2 bg-transparent border-0 ">
                <i class='bx bxs-t-shirt fs-5'></i>
                <a class="nav-link fs-5 dropdown-h6">Clothes</a>
              </button>
              <ul class="menu-dropdown">
                <li class="nav-item">
                  <a class="nav-link" href="/about/">man clothes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">man accesoris</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">woman clothes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">woman accesoris</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">hat</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">shoes</a>
                </li>
              </ul>
            </div>
          
            <div class="nav-item dropdown">
              <button class="nav-item d-flex align-items-center gap-2 bg-transparent border-0 ">
                <i class='bx bx-car fs-5'></i>
                <a class="nav-link fs-5 dropdown-h6">Vehicle</a>
              </button>
              <ul class="menu-dropdown">
                <li class="nav-item">
                  <a class="nav-link" href="/about/">motorcycle and accesoris</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">car and accesoris</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">helmet and accesoris</a>
                </li>
              </ul>
            </div>
          
            <div class="nav-item dropdown">
              <button class="nav-item d-flex align-items-center gap-2 bg-transparent border-0 ">
                <i class='bx bx-devices fs-5'></i>
                <a class="nav-link fs-5 dropdown-h6">Electronic</a>
              </button>
              <ul class="menu-dropdown">
                <li class="nav-item">
                  <a class="nav-link" href="/about/">electronic</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">handphone and accesoris</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">laptop and accesoris</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">computer and accesoris</a>
                </li>
              </ul>
            </div>
          
            <div class="nav-item dropdown">
              <button class="nav-item d-flex align-items-center gap-2 text-start bg-transparent border-0 ">
                <i class='bx bx-spa fs-5'></i>
                <a class="nav-link fs-5 dropdown-h6">Beauty regimen</a>
              </button>
              <ul class="menu-dropdown">
                <li class="nav-item">
                  <a class="nav-link" href="/about/">skincare</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">makeup</a>
                </li>
          
              </ul>
            </div>
          
            <div class="nav-item dropdown">
              <button class="nav-item d-flex align-items-center gap-2 bg-transparent border-0 ">
                <i class='bx bx-category fs-5'></i>
                <a class="nav-link fs-5 dropdown-h6">Other</a>
              </button>
              <ul class="menu-dropdown">
                <li class="nav-item">
                  <a class="nav-link" href="/about/">basic needs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">voucher and phonecredit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">top up games</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about/">home decoration</a>
                </li>
              </ul>
            </div>
          
          
            <hr>
            <h4>service</h4>
            <li class="nav-item d-flex align-items-center gap-2">
              <i class='bx bx-message-dots'></i>
              <a class="nav-link" href="/about/">customer service</a>
            </li>
            <li class="nav-item d-flex align-items-center gap-2">
              <i class='bx bx-universal-access'></i>
              <a class="nav-link" href="/about/">about we</a>
            </li>
          
            {% if user.is_authenticated %}
          
            <hr>
            <li class="nav-item d-flex align-items-center gap-2">
              <i class='bx bx-log-out'></i>
              <a class="nav-link" href="{% url 'signout' %}">logout</a>
            </li>
            {% endif %}
          </ul>
      </div>
    </div>
    <div class=" gap-2 w-100 d-flex align-items-center">
      <i class='bx bx-map-alt fs-5'></i>
      <small style="font-size: 0.8rem;">Main Location : Bandung</small>
    </div>
  </div>
</nav>