{% extends 'base.html' %}

{% load static %}

{% block tittle %}

{{tittle}}

{%endblock tittle %}

{% block newsnippet %}

{% include 'accounts/snippets/css.html' %}
{% include 'accounts/snippets/jstop.html' %}

{% endblock newsnippet %}


{% block conten %}
{% include 'snippets/navluas.html' %}

<div class="container-xxl">
    <h1>Keranjang Belanja</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div class="mb-3">
            {% for cart_item in cart_items %}
            <div class="card border-0 mb-3 p-3 bg-white shadow-sm">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="form-check">
                        <label class="form-check-label fw-bold" for="flexCheckDefault">
                            {{cart_item.product_id.store_id }}
                        </label>
                    </div>
                </div>
                <hr>
                <div class="row g-0">
                    <div class="col-md-4 col-12 d-flex justify-content-center border "
                        style="max-height: 300px;">
                        {% with product=cart_item.product_id %}
                        {% if product.productimage_set.all %}
                        <img src="{{ product.productimage_set.first.image.url }}" class="d-block img-fluid h-100"
                            alt="{% static 'img/default-profile.svg' %}">
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-8 col-12">

                            {% for item in cart_items %}
                              <div class="card-body">
    <h3>{{ item.product_id.name_product }}</h3>
    <p>Jumlah: {{ item.quantity }}</p>
    <p>Warna: {{ item.warna }}</p>
    <p>Ukuran: {{ item.ukuran }}</p>
    <p>Rasa: {{ item.rasa }}</p>
    <p>Harga: Rp {{ item.product_id.price }}</p>
    <p>Total Harga: Rp {{ total_price }}</p>
</div>

                                </div>
                            {% empty %}
                                <p>Keranjang belanja Anda kosong.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </form>
     <a href="{% url 'checkout' %}"><button>Lanjutkan ke Checkout</button></a>
    <h3>Total Harga: Rp {{ total_harga|floatformat:2 }}</h3>
</div>
{% endblock conten %}