{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block heading %}

{% include 'snippets/navluas.html' %}

<div class="container-xxl p-0">
  
  <div class="row p-0 p-lg-3">
    <div class="col-lg-5 col-12">
      <div id="carouselExampleControlsNoTouching" class="carousel slide mx-auto" data-bs-touch="false">
        <div class="carousel-inner bg-light  d-flex align-items-center" style="height: 700px;">
          {% for img in product.productimage_set.all %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ img.image.url }}" class="d-block img-fluid mx-auto"
              alt="{% static 'img/default-profile.svg' %}" loading="lazy">
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Thumbnails -->
      <div class="mt-3">
        <div class="row">
          {% for img in product.productimage_set.all %}
          <div class="col-2">
            <a href="#" class="thumbnail-link" data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide-to="{{ forloop.counter0 }}">
              <img src="{{ img.image.url }}" class="img-fluid" alt="{% static 'img/default-profile.svg' %}"
                loading="lazy">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

      <script>
        // Handling click on thumbnails to change the main image in the carousel
        const thumbnailLinks = document.querySelectorAll('.thumbnail-link');

        thumbnailLinks.forEach(link => {
          link.addEventListener('click', function (e) {
            e.preventDefault();
            const targetSlideIndex = this.getAttribute('data-bs-slide-to');
            const carousel = new bootstrap.Carousel(document.querySelector('#carouselExampleControlsNoTouching'), {
              interval: false  // Stop automatic rotation
            });
            carousel.to(targetSlideIndex);
          });
        });
      </script>
    </div>

    <div class="col-lg-7 p-4  rounded-top-5 shadow-sm mt-3 mt-lg-0   overflow-y-auto " style="max-height: 850px;">
      <small class="bg-black text-white p-2 px-3 rounded-5">{{product.category}}</small>
      <div class="d-flex align-items-center justify-content-between mt-3">
        <h3>{{ product.name_product }}</h3>
        <p style="color: #FEBBCC;">4.5 <i class='bx bxs-star'></i><i class='bx bxs-star'></i><i
            class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star-half'></i></p>
      </div>
      <p>{{product.description}}</p>
      <div class="card-header d-flex justify-content-between align-items-center bg-white">
        <!-- foto profil, nama, follow -->
        <div class="d-flex align-items-center gap-2">
          <div class="rounded-circle border" style="padding: 1.5px;">
            <img src="{% static 'img/default-profile.svg' %}" alt="Foto Profil" class="rounded-circle mr-2 border"
              width="45" height="45">
          </div>
          <div class="d-flex flex-column">
            <big class="fs-6 fw-bold">{{product.store_id}}</big>
            <small class="text-muted">{{product.store_id}}</small>
          </div>
        </div>

        <!-- follow, titik 3 -->
        <div>
          <button class="btn" style="background-color: #FEBBCC; color: white;">Follow</button>
        </div>
      </div>
      <div class="bg-light p-4 pl-5 w-100 mt-4 rounded h-auto">
        <h1>RP {{ product.price }}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock heading %}

{% block conten %}
<div class="container-xxl">
  <div class="row bg-white  mt-4 shadow-sm rounded">
    <div class="col-md-8 py-4 ">
      <h4>Spesifikasi produk</h4>
      <form method="post" action="{% url 'detailbarang' slug=product.slug %}">
        {% csrf_token %}

        <table class="mt-4 table" id="tablespek">


          <tr>
            <td>Warna : {% for warna in product.get_warna %}
            
            <div class="btn-group " role="group">
              <label class="btn btn-outline-secondary  form-check-label">
                <input type="radio" name="warna" class="form-check-input color-button" value="{{ warna }}">{{ warna }}
              </label>
            </div>
            {% endfor %}
</td>
          </tr>

             <tr>
            <td>Ukuran : {% for ukuran in product.get_ukuran %}
            
            <div class="btn-group " role="group">
              <label class="btn btn-outline-secondary  form-check-label">
                <input type="radio" name="ukuran" class="form-check-input color-button" value="{{ ukuran }}">{{ ukuran }}
              </label>
            </div>
            {% endfor %}
</td>
          </tr>
   <tr>
            <td>Rasa : {% for rasa in product.get_rasa %}
            
            <div class="btn-group " role="group">
              <label class="btn btn-outline-secondary  form-check-label">
                <input type="radio" name="rasa" class="form-check-input color-button" value="{{ rasa }}">{{ rasa }}
              </label>
            </div>
            {% endfor %}
</td>
          </tr>        </table>
    </div>

    <div class="col-md-4 py-4 px-5">
      <h4>pemesanan</h4>
      <p>{{ product.deskripsi }}</p>
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" value="1" min="1">
      <button type="submit" class="btn text-white" style="background-color: black;">Add to Cart</button>
      </form>
    </div>
  </div>
</div>
{% endblock conten %}